@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 5rem;
  overflow-x: hidden;
}
.header {
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #2d2d5f;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.navbar-item {
  list-style-type: none;
  margin: 20px 10px;
  background-color: #fff;
  width: 7rem;
  padding: 5px;
  border-radius: 10px;
  transition: background-color, transform 0.5s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.navbar-item:hover,
.navbar-item.active {
  background-color: yellow;
  transform: scale(1.1);
  font-weight: 500;
}

.header-logo-light {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.header-logo-yellow {
  color: yellow;
  padding: 0 5px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  width: 40px;
  background-color: rgb(51, 50, 50);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.nav-toggle i {
  font-size: 2rem;
  color: #fff;
}
.navbar {
  transition: height 0.5 0.4, opacity 400ms 0ms;
  display: none;
  overflow: hidden;
}
.active {
  display: block;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}


@media only screen and (min-width: 920px) {
  .nav-toggle {
    display: none;
  }
  .header-logo {
    display: block;
  }
  .header {
    max-width: 100%;
    padding: 0 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    display: block;
  }

  .navbar-item {
    height: auto;
  }
  .navbar-link {
    height: auto;
  }
  .navbar-links {
    display: flex;
  }
}

.main--title{
  text-align: center;
  margin: 5rem 0;
}
.main--description{
 margin: 0 auto;
  width: 50rem;
}

/* main card */
.container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
.card{
  display: flex;
  width: 24rem;
 height: 43rem;
  flex-direction: column;
 border-radius: 50px;
}
.card--body{
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #2d2d5f;
  padding: 1rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius:1.5rem ;
  align-items: center;
}
/* image */
.card--image{
  display: block;
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-right-radius: 1.5rem;
  border-top-left-radius:1.5rem ;
}
.card--icons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}
.card--description{
  background-color: #fff;
  color: #2d2d5f;
  padding: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.card--title{
  text-align: center;
}
.card--description--title{
  text-align: center;  
}
.card--link{
  text-decoration: none;
  background-color: #fff;
  color: #2d2d5f;
  padding: .3rem;
  border-radius: .3rem; 
  align-self: flex-end; 
}
.card--link:hover{
  background-color: yellow;
  transform: scale(1.1);
  font-weight: 500;
  transition: background-color, transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

/*  footer */
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5rem;
 background-color: #2d2d5f;
 width: 100%;
 color: #fff;
display: flex;
justify-content: space-around;
align-items: center;
}
.footer-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}
.footer-icons i{
  font-size: 2rem;
}
.footer-icons i:hover{
  color: yellow;
  transform: scale(1.1);
  font-weight: 500;
}