@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 5rem;
  overflow-x: hidden;
}


.header {
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #2d2d5f;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.navbar-item {
  list-style-type: none;
  margin: 20px 10px;
  background-color: #fff;
  width: 7rem;
  padding: 5px;
  border-radius: 10px;
  transition: background-color, transform 0.5s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.navbar-item:hover,
.navbar-item.active {
  background-color: yellow;
  transform: scale(1.1);
  font-weight: 500;
}

.header-logo-light {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.header-logo-yellow {
  color: yellow;
  padding: 0 5px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  width: 40px;
  background-color: rgb(51, 50, 50);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.nav-toggle i {
  font-size: 2rem;
  color: #fff;
}
.navbar {
  transition: height 0.5 0.4, opacity 400ms 0ms;
  display: none;
  overflow: hidden;
}
.active {
  display: block;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

.main--title {
  text-align: center;
  margin: 2rem 0;
}
.main--description {
  margin: 0 auto;
  width: 50rem;
}

/* main card */
.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  align-items: center;
}
.form--main {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.form-input--main {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-left: 0.8rem;
  margin-right: 2rem;
}

.btn {
background-color: #2d2d5f;
height: 1.6rem;
padding: .5rem 2rem 1.5rem 2rem;
border-radius: .5em;
color: #fff;
border: none;
}
.btn:hover {
  color: yellow;
  }

.card {
  display: flex;
  width: 16rem;
  height: 15rem;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.card:hover{
 transform: scale(1.05);
}
.card--body {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
}
/* image */
.card--image {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.card--icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}
.card--description {
  background-color: #fff;
  color: #2d2d5f;
  padding: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.card--title {
  text-align: center;
}
.card--description--title {
  text-align: center;
}
.card--link {
  text-decoration: none;
  color: #000;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.card--link:hover { 
  transform: scale(1.1);
  font-weight: 500;
  transition: background-color, transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

/*  page recette  */
.main--recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe--container {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.recipe--image {
  object-fit: cover;
  height: 25rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


/*  footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  background-color: #2d2d5f;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.footer-icons i {
  font-size: 2rem;
}
.footer-icons i:hover {
  color: yellow;
  transform: scale(1.1);
  font-weight: 500;
}

@media only screen and (min-width: 720px) {
  .recipe--container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 1rem;
    margin-bottom: 5rem;
  }

  .recipe--image {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

@media only screen and (min-width: 920px) {
  .nav-toggle {
    display: none;
  }
  .header-logo {
    display: block;
  }
  .header {
    max-width: 100%;
    padding: 0 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    display: block;
  }

  .navbar-item {
    height: auto;
  }
  .navbar-link {
    height: auto;
  }
  .navbar-links {
    display: flex;
  }

  .recipe--container {
    flex-direction: row;
    width: 75%;
    margin-bottom: 5rem;
    height: 40rem;
    border-radius: 1rem;
  }

  .recipe--left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .recipe--image {
    display: block;
    margin: 0 auto;
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  .recipe--right {
    width: 60%;
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
